* {
  box-sizing: border-box;
}

:root {
  --nav-height: 100px;
  --green: #64ffda;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2,12,27,0.7);
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono", monospace;
  --border-radius: 4px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-heading: 32px;

}

/* header & navigation bar */
header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 11;
  padding: 0px 50px;
  width: 100%;
  height: var(--nav-height);
  background-color: rgba(10, 25, 47, 0.85);
  backdrop-filter: blur(10px);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  color: var(--lightest-slate);
  font-family: var(--font-mono);
  counter-reset: item 0;
  z-index: 12;
}

nav h1 {
  color: var(--green);
  background-color: transparent;
  font-family: var(--font-mono);
  font-size: var(--fz-heading);
}

.navigation {
  display: flex;
  align-items: center;  
}

.navigation ol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.navigation ol li {
  margin: 0px 5px;
  position: relative;
  counter-increment: item 1;
  font-size: var(--fz-xs);
}

.navigation ol li a {
  padding: 10px;
}

.navigation .resume-button {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 0.75rem 1rem;
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  margin-left: 15px;
  font-size: var(--fz-xs);
}

/* hero */
.hero-banner {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  height: 100vh;
  padding: 0px;
}

.hero-banner h1 {
  margin: 0px 0px 30px 4px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-sm),5vw,var(--fz-md));
  font-weight: 400;
}

.hero-banner h3 {
  margin-top: 5px;
  color: var(--slate);
  line-height: 0.9;
}

.big-heading {
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
}

.hero-banner p {
  margin: 20px 0px 0px;
  max-width: 540px;
}

.hero-banner .contact-button {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 1.25rem 1.75rem;
  font-size: var(--fz-sm);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  margin-top: 50px;
}

/* spacing between sections */
.about-style,
.project,
.contact-style {
  margin-bottom: 300px;
}

/* about me */
.about-style .about-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
}

.about-style p {
  margin: 0px 0px 15px;
}

.about-content .about-skill-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}

.about-content .about-skill-list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: var(--font-mono);
  font-size: var(--fz-md);
}

.about-content .about-skill-list li::before {
  content: "▹";
  /* position: absolute; */
  left: 0px;
  color: var(--green);
  font-size: var(--fz-lg);
  line-height: 12px;
  padding-right: 5px;
}

.paragraph-color {
  color: var(--green);
}

.about-image {
  position: relative;
  max-width: 300px;
}

/* work */
.project-1-container,
.project-2-container,
.project-3-container {
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 100px;
}

.project-2-container .project-content {
  position: relative;
  grid-area: 1 / 1 / -1 / 7;
  grid-column: 7 / -1;
  text-align: right;
}

.project-content {
  grid-area: 1 / 1 / -1 / 7;
}

.project-2-container .project-image {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  grid-area: 1 / 6 / -1 / -1;
  position: relative;
  z-index: 1;
  grid-column: 1 / 8;
}

.project-image {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  grid-area: 1 / 6 / -1 / -1;
  position: relative;
  z-index: 1;
}

.project-image a {
  max-width: 100%;
  min-width: 100%;
  background-color: none;
  vertical-align: middle;
}

.project a {
  position: relative;
    z-index: 1;
}

.project-label {
  margin: 10px 0px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  font-weight: 400;
}

.project-title {
  color: var(--lightest-slate);
  font-size: clamp(24px, 5vw, 28px);
}

.project-description {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  position: relative;
  z-index: 2;
  padding: 25px;
  border-radius: var(--border-radius);
  background-color: var(--light-navy);
  color: var(--light-slate);
  font-size: var(--fz-lg);
  max-width: 600px;
}

.project-2-container .project-skill-list {
  flex-direction: row-reverse;
}

.project-2-container .project-skill-list li {
  margin: 0px 0px 5px 20px;
}

.project-skill-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 25px 0px 10px;
  padding: 0px;
  list-style: none;
}

.project-skill-list li {
  margin: 0px 20px 5px 0px;
  color: var(--light-slate);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  white-space: nowrap;
}

/* Contact Me */
.contact-style {
  max-width: 600px;
  margin: 0px auto 100px;
  text-align: center;
  margin-top: 300px;
}

.contact-style h2 {
  display: block;
  margin-bottom: 20px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: var(--fz-md);
  font-weight: 400;
}

.contact-style h3 {
  font-size: clamp(40px, 5vw, 60px);
  text-align: center;
}

.contact-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.contact-style svg {
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
}

svg {
  width: 34px;
  height: 34px;
  margin: 10px 5px 0px 5px;
  padding: 5px;
  cursor: pointer;
}

/* section heading */
.content-heading {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-family: var(--font-mono);
  font-size: clamp(26px,5vw,var(--fz-heading));
  white-space: nowrap;
  color: var(--green);
}

.content-heading::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}

/* General */
ol {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
}

.content {
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
}

section {
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
}

div {
  display: block;
}

body {
  margin: 0px;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background-color: var(--navy);
  color: var(--slate);
  font-family: var(--font-sans);
  font-size: var(--fz-xl);
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px 0px 10px;
  font-weight: 600;
  color: var(--lightest-slate);
  line-height: 1.1;
}

p {
  margin: 0px 0px 15px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}